.bar
{
    height: 5vh;
    width: 85vw;
    flex-direction: row;
    justify-content: space-around;
}

.checkDiv
{
    flex-direction: row;
    justify-content: center;
}

/*.checkInput
{
    height: 2vh;
    width: 2vh;
    margin: none;
}*/

@media (max-width: 1000px)
{
    .lesserButton
    {
        display: none;
    }
}