#author
{
    font-size: .7em;
    animation: none;
}

#author:hover
{
    background-color: var(--secondary);
    color: var(--primary);
    animation: none;
}

#dailyGoals
{
    width: 20vw;
}

#monthlyGoals
{
    width: 20vw;
}

#weeklyGoals
{
    width: 20vw;
}

#profileMain
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilePic
{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: var(--primary) 2px solid;
    margin: 5vw;
}

#profilePic:hover
{
    opacity: .5;
}

#quote
{
    color: lightgray;
    font-family: "Brush Script MT", cursive;
    font-size: 3em;
    cursor: none;
}