:root
{
    --secondary: rgba(0, 50, 100, 0.8);;
    --tertiary: lightgray;
    --fourth: lightgray;
}

body
{
    color: var(--tertiary);
    margin: auto;
    font-family: sans-serif;
    height: 100vh;
    background-color: var(--secondary);
}

header
{
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    width: 85vw;
    height: 35%;
    display: flex;
    justify-content: space-around;
}

main
{
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button
{
    color: var(--tertiary);
    height: 5vh;
    width: 18vw;
    font-size: 1em;
    background-color: var(--secondary);
    border-color: var(--tertiary);
    border-radius: 100px;
}

div
{
    display: flex;
    flex-direction: column;
}

input[type="text"]
{
    height: 5vh;
    width: 50vw;
    text-align: center;
    cursor: default;
    font-size: 1.2em;
    border: none;
    border-radius: 100px;
}

p
{
    text-align: center;
    cursor: default;
}

footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 100vw;
}