@keyframes blackbuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: black;
        color: var(--secondary);
    }
}

@keyframes blackbuttontransition2
{
    0%
    {
        background-color: black;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#black
{
    background-color: var(--secondary);
    color: black;
    animation: blackbuttontransition2 2s;
}

#black:hover
{
    background-color: black;
    color: var(--secondary);
    animation: blackbuttontransition1 .1s;
}

@keyframes bluebuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: darkslateblue;
        color: var(--secondary);
    }
}

@keyframes bluebuttontransition2
{
    0%
    {
        background-color: darkslateblue;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#blue
{
    background-color: var(--secondary);
    color: black;
    animation: bluebuttontransition2 2s;
}

#blue:hover
{
    background-color:darkslateblue;
    color: var(--secondary);
    animation: bluebuttontransition1 .1s;
}

@keyframes redbuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: firebrick;
        color: var(--secondary);
    }
}

@keyframes redbuttontransition2
{
    0%
    {
        background-color: firebrick;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#red
{
    background-color: var(--secondary);
    color: black;
    animation: redbuttontransition2 2s;
}

#red:hover
{
    background-color: firebrick;
    color: var(--secondary);
    animation: redbuttontransition1 .1s;
}

@keyframes yellowbuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: goldenrod;
        color: var(--secondary);
    }
}

@keyframes yellowbuttontransition2
{
    0%
    {
        background-color: goldenrod;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#yellow
{
    background-color: var(--secondary);
    color: black;
    animation: yellowbuttontransition2 2s;
}

#yellow:hover
{
    background-color:goldenrod;
    color: var(--secondary);
    animation: yellowbuttontransition1 .1s;
}

@keyframes greenbuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: darkgreen;
        color: var(--secondary);
    }
}

@keyframes greenbuttontransition2
{
    0%
    {
        background-color: darkgreen;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#green
{
    background-color: var(--secondary);
    color: black;
    animation: greenbuttontransition2 2s;
}

#green:hover
{
    background-color: darkgreen;
    color: var(--secondary);
    animation: greenbuttontransition1 .1s;
}

@keyframes orangebuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: darksalmon;
        color: var(--secondary);
    }
}

@keyframes orangebuttontransition2
{
    0%
    {
        background-color: darksalmon;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#orange
{
    background-color: var(--secondary);
    color: black;
    animation: orangebuttontransition2 2s;
}

#orange:hover
{
    background-color: darksalmon;
    color: var(--secondary);
    animation: orangebuttontransition1 .1s;
}

@keyframes purplebuttontransition1
{
    0%
    {
        background-color: var(--secondary);
        color: black;
    }
    100%
    {
        background-color: rebeccapurple;
        color: var(--secondary);
    }
}

@keyframes purplebuttontransition2
{
    0%
    {
        background-color: rebeccapurple;
        color: var(--secondary);
    }
    100%
    {
        background-color: var(--secondary);
        color: black;
    }
}

#purple
{
    background-color: var(--secondary);
    color: black;
    animation: purplebuttontransition2 2s;
}

#purple:hover
{
    background-color: rebeccapurple;
    color: var(--secondary);
    animation: purplebuttontransition1 .1s;
}

@keyframes whitebuttontransition1
{
    0%
    {
        background-color: var(--secondary);
    }
    100%
    {
        background-color: white;
    }
}

@keyframes whitebuttontransition2
{
    0%
    {
        background-color:white;
    }
    100%
    {
        background-color: var(--secondary);
    }
}

#white
{
    background-color: var(--secondary);
    color: black;
    animation: whitebuttontransition2 2s;
}

#white:hover
{
    background-color: white;
    animation: whitebuttontransition1 .1s;
}