:root {
    --primary: black;
    --secondary: beige;
}

body {
    margin: auto;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--secondary);
}

header {
    position: fixed;
    top: 2vh;
    height: 5vh;
    width: 90vw;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

main {
    position: fixed;
    height: 92vh;
    top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    cursor: none;
}

a {
    text-decoration: none;
    flex: 1;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 5px;
    border: var(--primary) 1px solid;
    animation: buttontransition2 1s;
}

a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border: var(--primary) 1px solid;
    animation: buttontransition1 1s;
}

@keyframes buttontransition2 {
    0% {
        background-color:var(--primary);
        color: var(--secondary);
        border: var(--primary) 1px solid;
    }
    100% {
        background-color: var(--secondary);
        color: var(--primary);
        border: var(--primary) 1px solid;
    }
}

@keyframes buttontransition1 {
    0% {
        background-color: var(--secondary);
        color: var(--primary);
        border: var(--primary) 1px solid;
    }
    100% {
        background-color:var(--primary);
        color: var(--secondary);
        border: var(--primary) 1px solid;
    }
}

@media (max-width: 1000px) {
    header {
        height: 50vh;
    }
    
    nav {
        flex-direction: column;
    }

    main {
        top: 53vh;
        height: 47vh;
    }

    a {
        cursor: none;
    }
}