:root {
    --primary: black;
    --secondary: beige;
}

body {
    margin: auto;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--secondary);
}

header {
    position: fixed;
    top: 2vh;
    height: 5vh;
    width: 90vw;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    border: blue 2px
}

#footer-nav {
    width: 20vw;
}

main {
    position: fixed;
    height: 84vh;
    top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0vh;
    height: 8vh;
    width: 90vw;
}

p {
    text-align: center;
    cursor: none;
}

#author {
    font-size: .7em;
    animation: none;
    border-right: none;
}

#author:hover {
    background-color: var(--secondary);
    color: var(--primary);
    animation: none;
}

a {
    text-decoration: none;
    flex: 1;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-right: var(--primary) 1px solid;
    animation: buttontransition2 1s;
}

#notes {
    border-right: none;
}

a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    animation: buttontransition1 1s;
}

@keyframes buttontransition2 {
    0% {
        background-color:var(--primary);
        color: var(--secondary);
    }
    100% {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

@keyframes buttontransition1 {
    0% {
        background-color: var(--secondary);
        color: var(--primary);
    }
    100% {
        background-color:var(--primary);
        color: var(--secondary);
    }
}

@media (max-width: 1000px) {
    header {
        height: 50vh;
    }
    
    nav {
        flex-direction: column;
    }

    main {
        top: 53vh;
        height: 42vh;
    }

    a {
        cursor: none;
        border-right: none;
        border-bottom: var(--primary) 1px solid;
    }

    #notes {
        border-bottom: none;
    }

    #footer-nav {
        width: 30vw;
    }

    #author:hover {
        cursor: pointer;
    }
}